@font-face 
{
    font-family: 'Itim';
    src: url('./fonts/Itim-Regular.ttf') format('truetype');
}

*
{
    box-sizing: border-box;
    font-family: 'Itim', sans-serif;
}

body
{
    align-items: center;
    background-color: rgb(231, 231, 231);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container
{
    width: 500px;
}


.title
{
    color: #04209B;
    text-align: center;
    font-size: 24px;
}


.transaction
{
    padding: 0;
    margin-bottom: 40px;
}

.li-bold
{
    font-weight: bold;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}


.income
{
    background-color: rgb(252, 255, 251);
    border: 2px solid rgb(0, 207, 3);
    color: #333;
    list-style-type: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
}


.expense
{
    background-color: rgb(255, 251, 251);
    border: 2px solid rgb(255, 79, 79);
    color: #333;
    list-style-type: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
}


.label-a
{
    display: inline-block;
    margin: 5px 0;
}

.input-a
{
    border: 1px solid #dede;
    border-radius: 2px;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}


.btn-a
{
    background-color: rgb(7, 160, 38);
    color: beige;
    font-size: 16px;
    margin: 5px 0;
    height: 35px;
    width: 90px;
    cursor: pointer;
}


.report-container
{
    display: flex;
    justify-content: space-between;
    background-color: rgb(252, 255, 251);
    padding: 15px;
    margin: 15px 0;
}

.report-container>div
{
    flex: 1;
    text-align: center;
}

.report-container>div:first-of-type
{
    border-right: 1px solid #dedede;
}

.report
{
    font-size: 20px;
    letter-spacing: 1px;
    margin: 5px 0;
}

.report.plus
{
    color: rgb(0, 179, 3);
}

.report.minus
{
    color: rgb(255, 79, 79);
}